@media (max-width: 768px) {
    .w-md-50 {
        width: 50%;
    }
}

* {
    font-family: 'Roboto', sans-serif;
}


/* font-family: 'Bebas Neue',
cursive;
font-family: 'Roboto',
sans-serif; */

li a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #2c3e50;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #363958;
}